<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NorcheneGarouachi Test</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/norchenegarouachi-add-stage">Ajouter un stage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/norchenegarouachi-stages">Consulter les stages</a>
        </li>
      </ul>
    </div>
  </div>
</nav>